{% extends "layout.html" %}

{% block title %}
Quoted
{% endblock %}

{% block main %}
<div class="container text-center mt-4">
    <h3 class="mb-4">Stock Information</h3>

    <table class="table table-bordered w-50 mx-auto">
        <thead class="table-light">
            <tr>
                <th>Company</th>
                <th>Symbol</th>
                <th>Current Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.price | usd }}</td>
            </tr>
        </tbody>
    </table>

    <a href="/quote" class="btn btn-primary mt-3">New search</a>
</div>
{% endblock %}
