{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
    <h1 class="mb-4"> SELL </h1>
    <form action="/sell" method="post">
        <select name="symbol" required>
            <option disabled selected value="">Select a stock</option>
            {% for row in list_symbols %}
                <option value="{{ row.symbol }}">{{ row.symbol }}</option>
            {% endfor %}
        </select>
        <input name="shares" type="number" placeholder="Number of shares" required  min="1" step="1" >
        <button type="submit">Sell</button>

    </form>
{% endblock %}
